<div>{{contact.firstName}}</div>
<div>{{contact.lastName}}</div>
<div>{{contact.company}}</div>
<div>{{contact.title}}</div>
<div>{{contact.email}}</div>
<div>{{contact.phone}}</div>
<div>{{contact.city}}</div>
<div>{{contact.state}}</div>
